.table-container{
    padding: 3rem 5rem;
}
.table-container>:nth-child(1)
{
    border-radius: 10px!important;
    overflow: hidden!important;;
}
.MuiTableRow-root, .MuiTableCell-root{
    border: none!important;
}